/***** generics *****/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }

  body {
    font-family: sans-serif;
    line-height: 2rem;
  }

  img{
    width: 100%;
  }

  ul{
    list-style-type: none;
  }

  a{
    text-decoration: none;
  }

  h3{
    font-size: 2rem;
  }



  /***** utilities *****/

  .container{
    width: 100%;
    padding: 0 20px;
  }


  /** flex **/
  .flex{
    display: flex;
  }

  .row{
    display: flex;
    flex-wrap: wrap;
    row-gap: 20px;
  }

  .column{
    width: 100%;
  }


  .align-center{
    align-items: center;
  }
  .justify-space-between{
    justify-content: space-between;
  }

  /** /flex **/

  /*** shared ***/

  .card{
    border-radius: 25px;
    text-align:center;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    padding: 5%;
  }

  .card.text-left{
    text-align:left;
  }

  .text>*{
    padding: 9% 0
  }

  .menu mark, .button{
    padding: 8px;
    border-radius: 25px;
    background-color: white;
   }

a.button{
    color: white;
    background-color: #0084fd;
    width: 60%;
    padding: 1% 0;
    text-align: center;
}




  /*** /shared ***/

  /***** content *****/

  header{
    position: fixed;
    background-color: #0084fd;
    width: 100%;
    min-height: 80px;
    line-height: 80px;
  }

  .menu{
    color: #fff;
  }

  .menu ul{
    display: none;
  }

  .menu li{
    padding: 0 10px;
  }

    

  header .fa-bars,
  header img{
    vertical-align: middle;
  }


  main{
    padding-top: 80px;
  }


  section{
    margin-top: 50px;
    margin-bottom: 50px;
  }

  section:nth-of-type(even){
    background-color:#9792e4;
  }


  /* product-presentation */
  #product-presentation .card{
    background-color: #b5ddff;
  }
  #product-presentation .column:first-child .card {
    padding-bottom: 0;
  }

  #product-presentation h3,
  #product-presentation .card i
  {
    color: #0084fd;
  }

  #product-presentation .text.custom>*:not(.text>.button) {
    padding: 3% 0;
  }

  #product-presentation .text.custom{
    text-align: start;
    padding-bottom: 10%;
  }

  .text.custom .button{
display: inline-block;
    margin-top: 3%;
  }



  /* /product-presentation */


  /* planning */

   #planning .container{
    padding: 20px;
   }

  /* /planning */
  footer{
    background-color: #333333;
  }




  @media screen and (min-width: 768px){

    #product-presentation .column {
      width: calc(100% / 3);
      padding: 0 10px;
    }

    #product-presentation .column:first-child {
      width: calc(100% / 3 * 2);
    }

    #product-presentation img{
      width: 50%;
    }


  }

  @media screen and (min-width: 1200px) {

    .menu .fa-bars{
      display: none;
    }

    .menu ul {
      display: flex;
      flex-grow: 1;
      justify-content: space-between;
    }

    .menu li {
      display: inline-block;
    }


    #product-presentation .column:first-child .card{
      flex-direction: row;
    }

    #planning .row{
        flex-wrap: nowrap;
    }

    #planning .container{
        width: 60%;
        margin: 0 auto;
    }

    .menu{
        width: 50%;
        display: flex;
    }

  }






  /***** debug *****/

  .debug section{
    min-height: 500px;
  }

  .debug footer {
    min-height: 160px;
  }

  .debug .column{
    min-height: 350px;
    border: 1px dashed red;
  }

  .debug .card{
    height: 100%;
  }